
/*================= Estilos generales =================*/

*{
    margin: 0;
    padding: 0;
}

.titulo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

                
/*================= INICIO NAVBAR =================*/

.n1 h5{
   font-size: 40px; 
}


.navbar {
    text-transform: uppercase;
    box-shadow: 0 1.6px 1.6px rgb(162, 164, 167);
}

.navbar-brand img{
    width: 60px;
    height: 60px;
}

/* Todos los elementos que tengan la clase active dentro de la clase navbar main tendrar eso */
.navbar-main .active{
    text-decoration: underline wavy;
    text-underline-offset: 9px;
}



/*================= FIN NAVBAR =================*/



                    /*================= INICIO INDEX =================*/


/*================= INICIO CARRUSEL =================*/


/* Cambiar tamaño de botones */
.carousel-indicators li {
    width: 40px;
    height: 6px;
    margin: 5px;
    margin-right: 4px;
    margin-left: 4px;
} 

.carousel-caption{
    top: 150px;
}

/*================= FIN CARRUSEL =================*/


/*================= INICIO RIBBON =================*/

#ribbon{
    background-color: rgb(248, 248, 248);
    background-image: repeating-linear-gradient(45deg,transparent,transparent 25px,rgb(255, 255, 255) 25px,rgb(255, 255, 255) 40px) 
}

#ribbon::after{
    content: '';
    background-color: transparent;
    display: block;
    height: 20px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    left: auto;
    margin-top: -40px ;        
}

#tarjeta{
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-top: -20px;
    z-index: 10;
    box-shadow: 0 0 10px rgb(187, 185, 187);
}

.textshadow{
    text-shadow: 0 6px 6px rgb(0, 0, 0)
}

.titulo-ribbon{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.parrafo-ribbon{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*================= FIN RIBBON =================*/


/*================= INICIO NOTICIAS =================*/

.noticia{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.noticia-item{
    width: inherit;
    height: inherit;    
}


.noticia-item img{
    width: 100%;
    height: 97.5%;
    object-fit: cover;
    
}
.zoom-img{
    transition: transform .2s; /* Animation */
}

.noticia-item-text{ 
    max-width: 100%;
    padding: 2rem;
    top: initial;
    bottom: 18px;
    transform: initial;
    max-width: 100%;
    position: absolute;
    background-color: rgb(0, 0, 0, .7);
    color: #fff;
    
}


.noticia-item-text h5{
    font-size: 23px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin-bottom: 16px;
}


.noticia-item-text p{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    
}

.zoom-img:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 2000px){
    .noticia-item-text p{
        font-size: 25px;
    }
    .noticia-item-text h5{
        font-size: 40px;
    }
}

@media screen and (max-width: 750px){
    
}

@media screen and (max-width: 450px){
    .noticia-item-text p{
        font-size: 15px;
    }
    .noticia-item-text h5{
        font-size: 20px;
    }
}

@media screen and (max-width: 350px){
    .noticia-item-text p{
        font-size: 12px;
    }
    .noticia-item-text h5{
        font-size: 18px;
    }
}

footer{
    background: #fff;
    height: auto;
    width: auto;
    font-family: sans-serif;
    padding-top: 40px;
    color: #000;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 29px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 48px;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #000;
}

.socials a i{
    font-size: 18px;
}

@media screen and (max-width:1200px){
    .footer-content p{
        font-size: 20px;
    }
}

@media screen and (max-width:800px){
    .footer-content p{
        font-size: 18px;
    }
}

@media screen and (max-width:500px){
    .footer-content p{
        font-size: 15px;
    }
    .footer-content h3{
        font-size: 20px;
    }
}

@media screen and (max-width:400px){
    .footer-content p{
        font-size: 13px;
    }
    .footer-content h3{
        font-size: 18px;
    }
}
                    /*================= FIN FOOTER =================*/


                    /* EXPERIENCIA 2 */

/* FORMULARIO REGISTRO */



/* FIN REGISTRO USUARIO */

/* INICIO REGISTRO COLABORADOR*/

.imagen-fondo-2{
    background: url(../img/fondocolab.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-aporte{
    width: 800px;
    padding: 30px;
    margin: auto;
    margin-top: 60px;
    border-radius: 4px;
    color: rgb(0, 0, 0);
}

.form-aporte h4{
    font-size: 25px;
}

.form-aporte p{
    font-size: 16px;
    margin-bottom: 10px;
}

.form-aporte hr{
    margin-bottom: 15px;
    
}

.form-aporte hr{
    border: 0.1px solid;
}

.input-aporte{
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid rgb(168, 168, 168);
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: -3px;
}

.input-aporte:focus{
    outline: none;
}

.form-opciones{
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid rgb(168, 168, 168);
    font-size: 16px;
    margin-top: -3px;
}

.calendario{
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid rgb(168, 168, 168);
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: -3px;   
}

.form-file{
    width: 740px;
    border-radius: 4px;
    border: 1px solid rgb(168, 168, 168);
    font-size: 16px;
    margin-top: 15px;
}

.form-botones-aporte{
    
    background: #3609db;

    color: #fff;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 16px;
    border-radius: 4px;
}   

.form-botones-aporte:hover{
    background: #ff7d04;
} 


.form-parrafo-aporte{
    text-align: center;
}   

.form-parrafo-aporte a{
    color: #fff;
    text-decoration: none;
}

/* aporte enviado con exito */

.imagen-aporte-exitoso{
    background: url(../img/fondocolab.jpg)fixed center/cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    align-items: center;
    justify-content: center;
}

.form-aporte-exitoso{
    width: 800px;
    padding-top: 260px;
    margin: auto;
    margin-top: 50px;
    color: #fff;
    
}

.form-aporte-exitoso h4{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.form-aporte-exitoso p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-aporte-exitoso a{
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width:1200px){
    .form-registro{
        width: 800px;     
    }

    .form-registro h4{
        font-size: 40px;
    }

    .input-container {
        margin-bottom: 30px;
    }

    .icon {
        padding: 20px;
        font-size: 23px;
        min-width: 70px;
    }

    .inputs{
        font-size: 30px;
    }

    .form-registro p{
        font-size: 30px;
    }

    .form-check-label{
        font-size: 30px;
        padding-left: 10px;
    }

    .form-check-input{
        margin-right: 100px;
        width: 20px;
        height: 20px;
        block-size: 30px;
    }

    .form-botones{
        padding: 15px;
        font-size: 27px;
    }

    /* Registro exitoso */

    .form-registro-exitoso{
        width: 800px;     
    }

    .form-registro-exitoso h4{
        font-size: 40px;
    }

    .form-registro-exitoso p{
        font-size: 30px;
    }

    /* aporte exitoso */

    .form-aporte-exitoso{
        width: 800px;     
    }

    .form-aporte-exitoso h4{
        font-size: 40px;
    }

    .form-aporte-exitoso p{
        font-size: 30px;
    }

    /* Responsividad aportes */

    .form-aporte h4{
        font-size: 45px;
    }

    .form-aporte p{
        font-size: 30px;
    }

    .form-aporte hr{
        border: 1px solid rgba(187, 187, 187, 0.575);
    }

    .input-aporte{
        font-size: 27px;
    }

    .labelaportes{
        font-size: 25px;
    }

    .form-opciones{
        font-size: 25px;
    }

    .calendario{
        font-size: 25px;
    }

    .form-file{
        font-size: 25px;
    }

    .form-botones-aporte{
        padding: 10px;
        font-size: 25px;
    }   
    
    .form-parrafo-aporte a{
        font-size: 30px;
    }   
}

@media screen and (max-width:800px){
    .form-registro{
        width: 600px;     
    }
    .form-check-input{
        block-size: 40px;
    }

    /* Registro exitoso */

    .form-registro-exitoso{
        width: 700px;  
        padding-top: 150px;   
    }

    /* aporte exitoso */
    .form-aporte-exitoso{
        width: 700px;  
        padding-top: 200px;   
    }

    /* Responsividad aportes */

    .form-aporte{
        width: 600px;
    }

    .form-aporte h4{
        font-size: 40px;
    }

    .form-aporte p{
        font-size: 25px;
    }

    .form-aporte hr{
        border: 1px solid rgba(187, 187, 187, 0.575);
    }

    .input-aporte{
        font-size: 20px;
    }

    .labelaportes{
        font-size: 25px;
    }

    .form-opciones{
        font-size: 20px;
    }

    .calendario{
        font-size: 20px;
    }

    .form-file{
        font-size: 20px;
        width: 100%;
    }

    .form-botones-aporte{
        
        font-size: 25px;
    }   
    
    .form-parrafo-aporte a{
        font-size: 30px;
    } 
}

@media screen and (max-width:600px){
    .form-registro{
        width: 450px;     
    }

    .form-registro h4{
        font-size: 20px;
    }

    .input-container {
        margin-bottom: 10px;
    }

    .icon {
        padding: 15px;
        font-size: 15px;
        min-width: 15px;
    }

    .inputs{
        font-size: 15px;
    }

    .form-registro p{
        font-size: 15px;
    }

    .form-check-label{
        font-size: 15px;
        padding-left: 0px;
        margin-top: 7px;
    }

    .form-check-input{
        margin-right: 5px;
        width: 13px;
        height: 13px;
        block-size: 25px;
    }

    .form-botones{
        padding: 10px;
        font-size: 15px;
    }

    /* Registro exitoso */

    .form-registro-exitoso{
        width: 450px;
        padding-top: 200px;     
    }

    .form-registro-exitoso h4{
        font-size: 25px;
    }

    .form-registro-exitoso p{
        font-size: 20px;
    }

    /* Aporte exitoso */

    .form-aporte-exitoso{
        width: 450px;
        padding-top: 200px;     
    }

    .form-aporte-exitoso h4{
        font-size: 25px;
    }

    .form-aporte-exitoso p{
        font-size: 20px;
    }

    /* Responsividad aportes */

    .imagen-fondo-2{
        width: 105%;
    }
    .form-aporte{
        width: 500x;
    }
    .form-aporte h4{
        font-size: 25px;
    }

    .form-aporte p{
        font-size: 20px;
    }

    .form-aporte hr{
        border: 1px solid rgba(187, 187, 187, 0.575);
    }

    .input-aporte{
        font-size: 15px;
    }

    .labelaportes{
        font-size: 20px;
    }

    .form-opciones{
        font-size: 15px;
    }

    .calendario{
        font-size: 15px;
    }

    .form-file{
        font-size: 15px;
        width: 100%;
    }

    .form-botones-aporte{
        padding: 5px;
        font-size: 15x;
    }   
    
    .form-parrafo-aporte a{
        font-size: 20px;
    } 
}

@media screen and (max-width:500px){
    .form-registro{
        width: 350px;     
    }

    .form-check-input{
        block-size: 27px;
    }

    .input-container {
        margin-bottom: 6px;
    }

    .form-registro p{
        font-size: 15px;
    }

    /* Registro exitoso */

    .form-registro-exitoso{
        width: 350px;     
    }

    /* Aporte exitoso */

    .form-aporte-exitoso{
        width: 350px;     
    }

    /* Responsividad aportes */

    .imagen-fondo-2{
        width: 100%;
    }

    .form-aporte{
        width: 400px;
    }

    .form-aporte h4{
        font-size: 20px;
    }

    .form-aporte p{
        font-size: 15px;
    }

    .form-aporte hr{
        border: 1px solid rgba(187, 187, 187, 0.575);
    }

    .input-aporte{
        font-size: 10px;
    }

    .labelaportes{
        font-size: 15px;
    }

    .form-opciones{
        font-size: 10px;
    }

    .calendario{
        font-size: 10px;
    }

    .form-file{
        font-size: 10px;
        width: 100%;
    }

    .form-botones-aporte{
        padding: 5px;
        font-size: 15px;
        margin-left: 35px;
    }   
    
    .form-parrafo-aporte a{
        font-size: 15px;
    } 
}

@media screen and (max-width:400px){
    .form-registro{
        width: 300px;     
    }
    .input-container {
        margin-bottom: 7px;
    }

    /* Registro exitoso */

    .form-registro-exitoso{
        width: 300px;     
    }

    /* Aporte exitoso */

    .form-aporte-exitoso{
        width: 300px;     
    }

    /* Responsividad aportes */

    .imagen-fondo-2{
        width: 100%;
    }

    .form-aporte{
        width: 300px;
    }

    .form-aporte h4{
        font-size: 20px;
    }

    .form-aporte p{
        font-size: 13px;
    }

    .form-aporte hr{
        border: 1px solid rgba(187, 187, 187, 0.575);
    }

    .input-aporte{
        font-size: 10px;
    }

    .labelaportes{
        font-size: 15px;
    }

    .form-opciones{
        font-size: 10px;
    }

    .calendario{
        font-size: 10px;
    }

    .form-file{
        font-size: 10px;
        width: 100%;
    }

    .form-botones-aporte{
        padding: 5px;
        font-size: 15px;
        margin-left: 25px;
    }   
    
    .form-parrafo-aporte a{
        font-size: 13px;
    } 
}

@media screen and (max-width:300px){
    .form-registro{
        width: 250px;  
        margin-top: 50px;   
    }

    .icon {
        padding: 15px;
        font-size: 10px;
        min-width: 15px;
    }

    .input-container {
        margin-bottom: 7px;
    }

    .inputs{
        font-size: 13px;
    }

    .form-check-input{
        block-size: 28px;
    }

    .form-registro p{
        font-size: 12px;
    }

    /* Registro exitoso */

    .form-registro-exitoso{
        width: 250px;  
        margin-top: 50px;   
    }

    .form-registro-exitoso h4{
        font-size: 20px;
    }

    .form-registro-exitoso p{
        font-size: 15px;
    }

    /* Aporte exitoso */

    .form-aporte-exitoso{
        width: 250px;  
        margin-top: 50px;   
    }

    .form-aporte-exitoso h4{
        font-size: 20px;
    }

    .form-aporte-exitoso p{
        font-size: 15px;
    }

    /* Respondividad aportes */

    .imagen-fondo-2{
        width: 105%;
    }
}
@media screen and (max-width:200px){
    .form-registro{
        width: 150px;  
        margin-top: 50px;   
    }

    .icon {
        padding: 15px;
        font-size: 10px;
        min-width: 15px;
    }

    .input-container {
        margin-bottom: 7px;
    }

    .inputs{
        font-size: 13px;
    }

    .form-check-input{
        block-size: 28px;
    }

    .form-registro p{
        font-size: 12px;
    }

    /* Registro exitoso */

    .form-registro-exitoso{
        width: 250px;  
        margin-top: 50px;   
    }

    .form-registro-exitoso h4{
        font-size: 20px;
    }

    .form-registro-exitoso p{
        font-size: 15px;
    }

    /* Aporte exitoso */

    .form-aporte-exitoso{
        width: 250px;  
        margin-top: 50px;   
    }

    .form-aporte-exitoso h4{
        font-size: 20px;
    }

    .form-aporte-exitoso p{
        font-size: 15px;
    }

    /* Respondividad aportes */

    .imagen-fondo-2{
        width: 105%;
    }
}
@media screen and (max-width:100px){
    .form-registro{
        width: 50px;  
        margin-top: 50px;   
    }

    .icon {
        padding: 15px;
        font-size: 10px;
        min-width: 15px;
    }

    .input-container {
        margin-bottom: 7px;
    }

    .inputs{
        font-size: 13px;
    }

    .form-check-input{
        block-size: 28px;
    }

    .form-registro p{
        font-size: 12px;
    }

    /* Registro exitoso */

    .form-registro-exitoso{
        width: 250px;  
        margin-top: 50px;   
    }

    .form-registro-exitoso h4{
        font-size: 20px;
    }

    .form-registro-exitoso p{
        font-size: 15px;
    }

    /* Aporte exitoso */

    .form-aporte-exitoso{
        width: 250px;  
        margin-top: 50px;   
    }

    .form-aporte-exitoso h4{
        font-size: 20px;
    }

    .form-aporte-exitoso p{
        font-size: 15px;
    }

    /* Respondividad aportes */

    .imagen-fondo-2{
        width: 105%;
    }
}

    .news h5{
        font-family: cursive;
        font-size: 36px;
        color: #fff;
    }